 <div class="row">
   
     <div class="col">
	  <label class="height_30 color_white">Ground Stations</label>
	  <img src='https://sbesada.github.io/nasa.satellite.tracking.3d/icons/groundStation_24.png'></img>
	 </div>	   
     
	 <div class="col  minHeight_40">		
	  <input type="checkbox" id="groundStation" name="stations" class="checkbox">	
	</div>	
	
	
	</div>
   
   
 
   
   <div class="row">
   
     <div class="col  minHeight_40">
	  <button id="cleanAllLayers" type="button" class="height_30 cesium-button">Clean All</button>
	 </div>	   
     
	 <div class="col minHeight_40">	   
	   <button id="addLayers" type="button" class="height_30 cesium-button">Add to map</button>
	
	</div>   
   </div>	