 
 <ul>
   
   <li>
	   <span><b>lat:</b> lats &nbsp </span>
	   <span><b>long:</b> longs &nbsp </span>
	   <span><b>alt:</b> altskm </span>
    </li>
	<li>
	   <span><b>date:</b> dates</span>
	 
     </li>
	
    <li>
	  <b>Orbit: </b>
	   <a href="orbitGif" target="_blank">gif</a>
	   <a href="orbitPdf" target="_blank">pdf<a>
	   
	   
    </li>

	
	<li>
	  <b>Map Projection: </b>
	   <a href="mappedGif" target="_blank">gif</a>
	   <a href="mappedPdf" target="_blank">pdf<a>
	 
	</li>
	
	<li>	
	  <b>Time Series: </b>
	   <a href="seriesGif" target="_blank">gif</a>
	   <a href="seriesPdf" target="_blank">pdf<a>
	   
	</li>	
	
  </ul>

